.login_mainContainer {
  background-color: rgb(238, 238, 238);
  min-height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.login_mainContainer h1 {
  text-align: center;
  margin: 0px;
  font-size: 24px;
}
.login_mainContainer .login_container {
  background: rgb(255, 255, 255);
  padding: 24px 32px;
  width: 424px;
  border-top: 4px solid rgb(58, 199, 236);
  border-radius: 2px 2px 0px 0px;
}
.login_mainContainer .login_container :first-child {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  gap: 32px;
}
.login_mainContainer .login_container .login_filed_container {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
}
.login_mainContainer .login_container .inp_field {
  position: relative;
}
.login_mainContainer .login_container .inp_field > img {
  position: absolute;
  top: 0px;
  right: 0px;
}
.login_mainContainer .login_container .login_inp {
  background-color: rgb(255, 255, 255);
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;
  font-size: 16px;
}
.login_mainContainer .login_container .login_inp:focus,
.login_mainContainer .login_container .login_inp:active {
  outline: none;
}
.login_mainContainer .login_container .inp_forgot {
  cursor: pointer;
  align-self: flex-end;
  text-decoration: none;
  color: rgb(31, 122, 84);
  font-size: 14px;
  margin-top: 5px;
}
.login_mainContainer .login_container .remember_me {
  display: flex;
  justify-content: normal;
  align-items: center;
  font-size: 16px;
  margin-top: 26px;
  gap: 5px;
}
.login_mainContainer .login_container .remember_me input[type=checkbox] {
  height: 24px;
  width: 24px;
  accent-color: rgb(31, 122, 84);
}
.login_mainContainer .login_container .remember_me input[type=checkbox] {
  height: 24px;
  width: 24px;
  accent-color: rgb(31, 122, 84);
}
.login_mainContainer .login_container .login_button_container > button {
  cursor: pointer;
  background-color: rgb(63, 210, 139);
  font-size: 14px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);
  width: 216px;
  height: 40px;
  border: none;
  margin: 34px auto 24px;
  justify-content: center;
  font-family: quicksand;
  font-weight: 600;
}
.login_mainContainer .login_container .register_user {
  text-align: center;
}
.login_mainContainer .login_container .register_user > p {
  margin: 0px;
  font-size: 12px;
  margin-bottom: 4px;
}
.login_mainContainer .more_options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  position: absolute;
  bottom: 40px;
}
.login_mainContainer .more_options > a {
  color: rgb(31, 122, 84);
  font-size: 14px;
  text-decoration: none;
}
.login_mainContainer .splitter {
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 18px;
  width: 0px;
}

@media screen and (max-width: 500px) {
  .login_mainContainer .login_container {
    background: rgb(255, 255, 255);
    padding: 20px 16px;
    width: 311px;
  }
}/*# sourceMappingURL=user-login.component.css.map */