<div class="job__details__and__prereuisites">
    <div class="job__basic__details__card">
        <div class="job__basic__details__title">
            <h1> {{job.title}} </h1>
            <button>Apply</button>
        </div>
        <div class="dateTime__and__location__container">
            <h6>Date & Time :</h6>
            <div class="dateTime__and__location">
                <div class="date"> {{job.startDate}} to {{job.endDate}} </div>
                <div class="splitter"></div>
                <div class="location">
                    <img src="../../assets/icons/location_on_grey_24dp.svg" alt="">
                    {{job.location}}
                </div>
            </div>
        </div>
        <hr>
        <div class="job__roles__container">
            <h6>Job Roles :</h6>
            <div class="job__roles">
                @for(role of job.jobRoleWithDetails;track $index){
                <div class="role">
                    <div class="icondiv">
                        <img src="../../assets/icons/Instructional Designer.svg" alt="">
                    </div>

                    <span> {{role.job_role}} </span>
                    @if(job.jobRoleWithDetails.length>1 && $index<job.jobRoleWithDetails.length-1){ <div
                        class="splitter">
                </div>
                }
            </div>
            }
        </div>
    </div>

</div>
<div class="pre__requisites">
    <h1>Pre-requisites & Application Process</h1>
    <div class="arrow__container" (click)="tooglePreRequisitesOpen()">
        <div class="splitter"></div>
        <mat-icon class="arrow__icon">
            @if(isPreRequisitesOpen){
            expand_less
            }
            @else{
            expand_more
            }
        </mat-icon>
    </div>
</div>
<div class="pre__requisites__card" [hidden]="!isPreRequisitesOpen">
    <div class="general__instructions">
        <h6>General Instructions :</h6>
        @for (instruction of job.generalInstructions.split('- '); track $index) {
        @if (instruction.length) {
        <div> - {{instruction}}</div>
        }
        }
    </div>
    <hr>
    <div class="exam__instructions">
        <h6>Instructions for the Exam :</h6>
        @for (instruction of job.instructionsForTheExam.split('- '); track $index) {
        @if (instruction.length) {
        <div> - {{instruction}}</div>
        }
        }
    </div>
    <hr>
    <div class="system__requirements">
        <h6>Minimum System Requirements :</h6>
        @for (requirements of job.minimumSystemRequirements.split('- '); track $index) {
        @if (requirements.length) {
        <div> - {{requirements}}</div>
        }
        }
    </div>
    <hr>
    <div class="process">
        <h6>Process :</h6>
        @for (requirements of job.process.split('- '); track $index) {
        @if (requirements.length) {
        <div> - {{requirements}}</div>
        }
        }
    </div>
</div>
</div>

<div class="timeSlot__preferences">
    <h1>Time Slots & Preferences</h1>
    <div class="time__slot">
        <h6>Select a time Slot:</h6>
        @for(time of job.timeSlots; track $index){
        <div class="timing">
            <input type="radio" name="timing" id="'timing' +{{time}}" [value]="false" />
            <label for="{{time}}">{{time}}</label>
        </div>
        }
    </div>
    <hr>
    <div class="preference">
        <h6>Select Your Preference :</h6>
        @for(preference of job.jobRoleWithDetails; track $index){
        <div class="job__role">
            <input type="checkbox" id="{preference}" /> {{preference.job_role}}
        </div>
        }
    </div>
    <hr>
    <div class="upload_resume_container">
        <label class="input_file_label" for="input_file">
            <img class="uplaod__logo svg" src="../../assets/icons/Upload_black_24dp.svg" alt="Upload Resume icon" />
            Upload Updated Resume
        </label>
        <input type="file" accept=".pdf" id="input_file" />
    </div>
</div>
<div class="roles">
    @for (role of job.jobRoleWithDetails; track $index) {
    <div class="role__component">
        <div class="role__component__header">
            <h1>{{role.job_role}}</h1>
            <div class="arrow__container" (click)="toogleisJobRolesOpen($index)">
                <div class="splitter"></div>
                <mat-icon class="arrow__icon">
                    @if(isJobRolesOpen[$index]){
                    expand_less
                    }
                    @else{
                    expand_more
                    }
                </mat-icon>
            </div>
        </div>

        <div class="role__details__card" [hidden]="!isJobRolesOpen[$index]">
            <div class="package__details">
                <h6>gross compensation package :</h6>
                <div>Rs. {{role.packages}} lpa </div>
            </div>
            <hr />
            <div class="role__description">
                <h6>Role Description :</h6>
                @for (desc of role.roleDescription.split('- '); track $index) {
                @if (desc.length) {
                <div>- {{desc}}</div>
                }
                }
            </div>
            <hr />
            <div class="requirements">
                <h6>Requirements :</h6>
                @for (reqs of role.requirements.split('- '); track $index) {
                @if (reqs.length) {
                <div>- {{reqs}}</div>
                }
                }
            </div>
        </div>

    </div>
    }
</div>