<div class="register_header">
  <a href="#">
    <img src="../../assets/icons/back_light_clr.svg" alt="go back icon" />
  </a>
  <div class="">Create an account</div>
  <div class="btn_container">
    <button class="btn">CANCEL</button>
    <button class="btn" [disabled]="isDisable">CREATE</button>
  </div>
</div>

<div class="register_container">
  <div class="register_steps">
    <div class="step">
      <span
        [ngClass]="{
          step_count: true,
          already_next_step: isAlreadyNextStep(1)
        }"
      >
        @if(stepCount > 1){
        <img src="../../assets/icons/edit_black.png" alt="edit icon" />
        } @else { 1 }
      </span>
      <span>Personal Information</span>
    </div>
    <hr />
    <div class="step">
      <span
        [ngClass]="{
          step_count: true,
          already_next_step: isAlreadyNextStep(2)
        }"
      >
        @if(stepCount > 2){
        <img src="../../assets/icons/edit_black.png" alt="edit icon" />
        } @else { 2 }
      </span>
      <span>Qualifications</span>
    </div>
    <hr />
    <div class="step">
      <span
        [ngClass]="{
          step_count: true,
          already_next_step: isAlreadyNextStep(3)
        }"
      >
        @if(stepCount > 3){
        <img src="../../assets/icons/edit_black.png" alt="edit icon" />
        } @else { 3 }
      </span>
      <span>Review and Proceed</span>
    </div>
  </div>

  @if(stepCount === 1){

  <app-personal-information
    (personalInformationSubmited)="setPersonalInformation($event)"
    [prevUserInfo]="{ userInfo: userPersonalInformation, preferredJobRoles }"
  ></app-personal-information>

  } @else if(stepCount === 2){

  <app-qualifications
    (qualificationsSubmited)="setQualificationsInformation($event)"
    [prevUserInfo]="{
      userEducationalQualifications: userEducationalQualifications,
      preferredJobRoles,
      userProfessionalQualificationsVisible:
        userProfessionalQualificationsVisible,
      userFresher: userFresher,
      userExperienced: userExperienced,
      familiarTechnologies,
      expertiseTechnologies
    }"
  ></app-qualifications>

  } @else if(stepCount === 3){

  <app-review-proceed
    (reviewPricessSubmited)="reviewPricessSubmited($event)"
    [prevUserInfo]="{
      userInfo: userPersonalInformation,
      preferredJobRoles,
      userEducationalQualifications: userEducationalQualifications,
      userProfessionalQualificationsVisible:
        userProfessionalQualificationsVisible,
      userFresher: userFresher,
      userExperienced: userExperienced,
      familiarTechnologies,
      expertiseTechnologies
    }"
  ></app-review-proceed>

  }
</div>
