.personal_information_container {
  padding: 24px;
  background-color: rgb(255, 255, 255);
}
.personal_information_container .personal_information_form {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  position: relative;
  gap: 40px;
}
.personal_information_container .personal_information_form .user_picture_component {
  position: absolute;
  width: 150px;
  top: 0px;
  right: 0px;
  text-align: center;
}
.personal_information_container .personal_information_form .user_picture_component #input_user_image {
  display: none;
}
.personal_information_container .personal_information_form .user_picture_component .display_image {
  width: 112px;
  height: 112px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.personal_information_container .personal_information_form .user_picture_component .user_picture_title {
  font-size: 12px;
  color: rgb(31, 122, 84);
  margin: 16px 0px 8px;
}
.personal_information_container .personal_information_form .user_picture_component .user_picture_info {
  color: rgb(117, 117, 117);
  font-size: 10px;
}
.personal_information_container .personal_information_form label {
  color: rgb(102, 102, 102);
  font-size: 12px;
  width: 480px;
}
.personal_information_container .personal_information_form input {
  border: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
  font-family: quicksand;
  font-weight: 600;
}
.personal_information_container .personal_information_form input:focus {
  outline: none;
}
.personal_information_container .personal_information_form input[type=number]::-webkit-inner-spin-button,
.personal_information_container .personal_information_form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.personal_information_container .personal_information_form input[type=checkbox] {
  width: 18px;
  height: 24px;
  margin: 0px;
  accent-color: rgb(31, 122, 84);
}
.personal_information_container .personal_information_form .preferred_job_roles {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  gap: 16px;
}
.personal_information_container .personal_information_form .input_single_container {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  gap: 12px;
}
.personal_information_container .personal_information_form .input_single_container .referralLable {
  letter-spacing: 0.3px;
  width: 480px;
}
.personal_information_container .personal_information_form .inp_string {
  padding-bottom: 4px;
  font-size: 16px;
  width: 480px;
}
.personal_information_container .personal_information_form .upload_resume_container span {
  color: rgb(31, 122, 84);
  font-size: 14px;
}
.personal_information_container .personal_information_form .upload_resume_container .input_file_label {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: rgb(31, 122, 84);
}
.personal_information_container .personal_information_form .upload_resume_container #input_file {
  display: none;
}
.personal_information_container .personal_information_form .upload_resume_container #input_file::-webkit-file-upload-button {
  background-color: rgb(255, 255, 255);
  border: none;
}
.personal_information_container .personal_information_form .phone_number_container {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 4px;
}
.personal_information_container .personal_information_form .phone_number_container .add_text {
  width: 9px;
  height: 20px;
}
.personal_information_container .personal_information_form .phone_number_container .country_code {
  width: 22px;
  font-size: 16px;
  padding-bottom: 4px;
}
.personal_information_container .personal_information_form .phone_number_container .phone_number {
  width: 95px;
  font-size: 16px;
  padding-bottom: 4px;
}
.personal_information_container .personal_information_form .checkbox_single_container {
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 9px;
}
.personal_information_container .personal_information_form .checkbox_single_container .normal_label {
  color: rgb(34, 34, 34);
  font-size: 16px;
}/*# sourceMappingURL=personal-information.component.css.map */