<div class="personal_information_container">
  <!-- <form class="personal_information_form"> -->
  <div class="personal_information_form">
    <div class="user_picture_component">
      <input
        id="input_user_image"
        type="file"
        accept="image/*"
        (change)="showPreview($event)"
      />

      <label for="input_user_image" class="user_picture_component">
        @if(userInfo.avatarBase64 !== null && userInfo.avatarBase64.length !== 0
        && userInfo.avatarName !== null && userInfo.avatarName.length !== 0){

        <img
          class="display_image"
          [src]="userInfo.avatarBase64"
          [alt]="userInfo.avatarName"
        />

        } @else {

        <img
          class="display_image"
          src="../../assets/icons/account_circle.svg"
          alt="user image icon"
        />

        }
        <!-- --------------------------  -->
        @if(userInfo.avatarBase64 !== null && userInfo.avatarBase64.length !== 0
        && userInfo.avatarName !== null && userInfo.avatarName.length !== 0){

        <div class="user_picture_title">CHANGE {{ userInfo.avatarName }}</div>
        <div class="user_picture_info">Max. image size: 5 MB</div>

        } @else {

        <div class="user_picture_title">UPLOAD DISPLAY PICTURE</div>
        <div class="user_picture_info">Max. image size: 5 MB</div>

        }
      </label>
    </div>

    <div class="input_single_container">
      <label for="firstName">First Name*</label>
      <input
        class="inp_string"
        type="text"
        [(ngModel)]="userInfo.firstName"
        id="firstName"
      />
    </div>

    <div class="input_single_container">
      <label for="lastName">Last Name*</label>
      <input
        class="inp_string"
        type="text"
        [(ngModel)]="userInfo.lastName"
        id="lastName"
      />
    </div>

    <div class="input_single_container">
      <label for="email">Email*</label>
      <input
        class="inp_string"
        type="email"
        [(ngModel)]="userInfo.email"
        id="email"
      />
    </div>

    <div class="input_single_container">
      <label for="phoneNumber">Phone Number*</label>
      <div class="phone_number_container">
        <div class="add_text">+</div>
        <input
          class="country_code"
          type="number"
          [(ngModel)]="userInfo.countryCode"
          id="countryCode"
        />
        <input
          class="phone_number"
          type="number"
          [(ngModel)]="userInfo.phoneNumber"
          id="phoneNumber"
        />
      </div>
    </div>

    <div class="upload_resume_container">
      <label class="input_file_label" for="input_file">
        <img
          src="../../assets/icons/Upload_black_24dp.svg"
          alt="Upload Resume icon"
        />
        @if(userInfo.resumeBase64 !== null && userInfo.resumeBase64.length !== 0
        && userInfo.resumeName !== null && userInfo.resumeName.length !== 0)
        {{{userInfo.resumeName}}} @else{Upload Resume}
      </label>
      <input
        type="file"
        accept=".pdf"
        id="input_file"
        (change)="showResume($event)"
      />
    </div>

    <div class="input_single_container">
      <label for="portfolio">Enter Portfolio URL (if any)</label>
      <input
        class="inp_string"
        type="url"
        [(ngModel)]="userInfo.portfolio"
        id="portfolio"
      />
    </div>

    <div class="preferred_job_roles">
      <label for="portfolio">Preferred Job Roles*</label>

      @for(preferredJobRole of preferredJobRoles; track preferredJobRole.id){
      <div class="checkbox_single_container">
        <input
          [id]="preferredJobRole.JobRoleName"
          type="checkbox"
          [(ngModel)]="preferredJobRole.value"
        />
        <label
          [for]="preferredJobRole.JobRoleName"
          class="normal_label"
          for="instructionalDesigner"
          >{{ preferredJobRole.JobRoleName }}</label
        >
      </div>
      }

      <!-- @if(preferredJobRoles.hasOwnProperty(key)){ console.log(key) } -->

      <!-- <div class="checkbox_single_container">
        <input
          type="checkbox"
          id="instructionalDesigner"
          [(ngModel)]="preferredJobRoles.instructionalDesigner"
          value="instructionalDesigner"
        />
        <label class="normal_label" for="instructionalDesigner"
          >Instructional Designer</label
        >
      </div>

      <div class="checkbox_single_container">
        <input
          type="checkbox"
          id="softwareEngineer"
          [(ngModel)]="preferredJobRoles.softwareEngineer"
          value="softwareEngineer"
        />
        <label class="normal_label" for="softwareEngineer"
          >Software Engineer</label
        >
      </div>

      <div class="checkbox_single_container">
        <input
          type="checkbox"
          id="softwareQualityEngineer"
          [(ngModel)]="preferredJobRoles.softwareQualityEngineer"
          value="softwareQualityEngineer"
        />
        <label class="normal_label" for="softwareQualityEngineer"
          >Software Quality Engineer</label
        >
      </div> -->
    </div>

    <div class="input_single_container">
      <label for="referralName" class="referralLable"
        >If You Are Registering Via A Referral, Please Mention Full Name Of The
        Employee Who Referred You</label
      >
      <input
        class="inp_string"
        type="text"
        [(ngModel)]="userInfo.referralName"
        id="referralName"
      />
    </div>

    <div class="checkbox_single_container">
      <input
        type="checkbox"
        id="jobRelatedUpdates"
        [(ngModel)]="userInfo.jobRelatedUpdates"
      />
      <label for="jobRelatedUpdates" class="normal_label"
        >Send me job related updates via mail</label
      >
    </div>
  </div>
  <!-- </form> -->
  <!-- <form [formGroup]="personalInformation" class="personal_information_form">
    <div class="input_single_container">
      <label for="firstName">First Name*</label>
      <input
        class="inp_string"
        type="text"
        formControlName="firstName"
        [(ngModel)]="previousUserInfo.firstName"
        id="firstName"
        [value]="previousUserInfo.firstName"
      />
    </div>

    <div class="input_single_container">
      <label for="lastName">Last Name*</label>
      <input
        class="inp_string"
        type="text"
        formControlName="lastName"
        id="lastName"
      />
    </div>

    <div class="input_single_container">
      <label for="email">Email*</label>
      <input
        class="inp_string"
        type="email"
        formControlName="email"
        id="email"
      />
    </div>

    <div class="input_single_container">
      <label for="phoneNumber">Phone Number*</label>
      <div class="phone_number_container">
        <mat-icon>add</mat-icon>
        <input
          class="country_code"
          type="number"
          formControlName="countryCode"
          id="countryCode"
        />
        <input
          class="phone_number"
          type="number"
          formControlName="phoneNumber"
          id="phoneNumber"
        />
      </div>
    </div>

    <div class="upload_resume_container">
      <img
        src="../../assets/icons/Upload_black_24dp.svg"
        alt="Upload Resume icon"
      />
      <span>Upload Resume</span>
    </div>

    <div class="input_single_container">
      <label for="portfolio">Enter Portfolio URL (if any)</label>
      <input
        class="inp_string"
        type="url"
        formControlName="portfolio"
        id="portfolio"
      />
    </div>

    <div class="input_single_container">
      <label for="portfolio">Preferred Job Roles*</label>
      <div class="checkbox_single_container">
        <input
          type="checkbox"
          id="instructionalDesigner"
          formControlName="instructionalDesigner"
          value="instructionalDesigner"
        />
        <label for="instructionalDesigner">Instructional Designer</label>
      </div>

      <div class="checkbox_single_container">
        <input
          type="checkbox"
          id="softwareEngineer"
          formControlName="softwareEngineer"
          value="softwareEngineer"
        />
        <label for="softwareEngineer">Software Engineer</label>
      </div>

      <div class="checkbox_single_container">
        <input
          type="checkbox"
          id="softwareQualityEngineer"
          formControlName="softwareQualityEngineer"
          value="softwareQualityEngineer"
        />
        <label for="softwareQualityEngineer">Software Quality Engineer</label>
      </div>
    </div>

    <div class="input_single_container">
      <label for="referralName"
        >If You Are Registering Via A Referral, Please Mention Full Name Of The
        Employee Who Referred You</label
      >
      <input
        class="inp_string"
        type="text"
        formControlName="referralName"
        id="referralName"
      />
    </div>

    <div class="checkbox_single_container">
      <input
        type="checkbox"
        id="jobRelatedUpdates"
        formControlName="jobRelatedUpdates"
      />
      <label for="jobRelatedUpdates"
        >Send me job related updates via mail</label
      >
    </div>
  </form> -->
</div>

<div class="step_moving_btn">
  <button class="next_previous_btn" (click)="onSubmit()" type="submit">
    NEXT
  </button>
</div>
