@import "../../scss/functions";
@import "../../scss/variables";

// @include displayFlex(normal, center);
.personal_information_container {
  padding: 24px;
  background-color: $white-color;

  .personal_information_form {
    @include displayFlex(center, normal);
    flex-direction: column;
    position: relative;
    gap: 40px;

    .user_picture_component {
      position: absolute;
      width: 150px;
      top: 0px;
      right: 0px;
      text-align: center;

      #input_user_image {
        display: none;
      }

      .display_image {
        width: 112px;
        height: 112px;
        object-fit: cover;
        border-radius: 50%;
      }

      //   .image_contain {
      //     object-fit: contain;
      //   }

      .user_picture_title {
        font-size: $xsmall-font + px;
        color: $secondary-color;
        margin: 16px 0px 8px;
      }

      .user_picture_info {
        color: $fifth-color;
        font-size: $xxsmall-font + px;
      }
    }

    label {
      color: $sixth-color;
      font-size: $xsmall-font + px;
      width: 480px;
    }

    input {
      border: 0px;
      border-bottom: 1px solid $border-38-color;
      font-family: quicksand;
      font-weight: 600;
    }
    input:focus {
      outline: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

    input[type="checkbox"] {
      width: 18px;
      height: 24px;
      margin: 0px;
      accent-color: $secondary-color;
    }

    .preferred_job_roles {
      @include displayFlex(center, normal);
      flex-direction: column;
      gap: 16px;
    }

    .input_single_container {
      @include displayFlex(center, normal);
      flex-direction: column;
      gap: 12px;

      .referralLable {
        letter-spacing: 0.3px;
        width: 480px;
      }
    }

    .inp_string {
      padding-bottom: 4px;
      font-size: $base-font + px;
      width: 480px;
    }

    .upload_resume_container {
      span {
        color: $secondary-color;
        font-size: $small-font + px;
      }

      .input_file_label {
        @include displayFlex(normal, center);
        gap: 8px;
        font-size: $base-font + px;
        color: $secondary-color;
      }

      #input_file {
        display: none;
      }

      #input_file::-webkit-file-upload-button {
        background-color: $white-color;
        border: none;
      }
    }

    .phone_number_container {
      @include displayFlex(normal, center);
      gap: 4px;

      .add_text {
        width: 9px;
        height: 20px;
      }

      .country_code {
        width: 22px;
        font-size: $base-font + px;
        padding-bottom: 4px;
      }
      .phone_number {
        width: 95px;
        font-size: $base-font + px;
        padding-bottom: 4px;
      }
    }

    .checkbox_single_container {
      @include displayFlex(normal, center);
      gap: 9px;

      .normal_label {
        color: $primary-color;
        font-size: $base-font + px;
      }
    }
  }
}
