@import "../../scss/functions";
@import "../../scss/variables";

.educational_qualifications {
  margin-bottom: 24px;
}

// .dropDown {
//   background-color: $section-header-color;
//   height: 56px;
//   @include displayFlex(space-between, center);
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);

//   span {
//     margin-left: 16px;
//   }

.dd_img_container {
  height: 56px;
  width: 32px;
  border-left: 2px solid $border-25-color;
  @include displayFlex(center, center);
  cursor: pointer;
}

.rotate180 {
  transform: rotate(180deg);
}
// }

.step_input_container {
  .mb-8 {
    margin-bottom: 8px;
  }
  .step_inputs {
    background-color: $white-color;
    padding: 24px;
    @include displayFlex(center, normal);
    flex-direction: column;
    gap: 40px;

    .w_small {
      width: 180px;
    }

    .double_input_container {
      @include displayFlex(normal, center);
      gap: 24px;

      .single_input_container {
        flex: 1;
      }
    }

    .specific_width {
      width: 452px;
    }

    .flex_16 {
      @include displayFlex(center, normal);
      flex-direction: column;
      gap: 16px;
    }

    .single_input_container {
      @include displayFlex(center, normal);
      flex-direction: column;
      gap: 12px;

      label {
        color: $sixth-color;
        font-size: $xsmall-font + px;
      }

      input {
        border: 0px;
        border-bottom: 1px solid $border-38-color;
        padding-bottom: 4px;
        font-size: $base-font + px;
        font-family: quicksand;
        font-weight: 600;
      }

      select {
        border: 0px;
        border-bottom: 1px solid $border-38-color;
        padding-bottom: 4px;
        font-size: $base-font + px;
        font-family: quicksand;
        font-weight: 600;
      }

      input:focus,
      select:focus {
        outline: none;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }

      .w_small {
        width: 180px;
      }

      .applicant_type_container {
        @include displayFlex(normal, center);
        gap: 24px;

        .applicant_type {
          @include displayFlex(normal, center);
          gap: 8px;
          height: 24px;

          input[type="radio"] {
            width: 20px;
            height: 24px;
            accent-color: $secondary-color;
          }

          label {
            font-size: $base-font + px;
            color: $primary-color;
          }
        }
      }
    }

    .technologies_container {
      @include displayFlex(center, normal);
      flex-direction: column;
      gap: 16px;

      .technologies_container_label {
        font-size: $xsmall-font + px;
        color: $sixth-color;
      }

      .single_checkbox_container {
        @include displayFlex(normal, center);
        gap: 9px;

        input[type="checkbox"] {
          background-color: black;
          padding: 10px;
          width: 18px;
          height: 24px;
          margin: 0px;
          accent-color: $secondary-color;
        }
      }
    }

    .radio_container {
      .radio_container_label {
        font-size: $xsmall-font + px;
        color: $sixth-color;
        padding-bottom: 12px;
      }

      .radio_container_options {
        margin-top: 13px;
        @include displayFlex(normal, center);
        gap: 24px;

        .single_radio_container {
          @include displayFlex(normal, center);
          gap: 8px;

          input[type="radio"] {
            width: 20px;
            height: 24px;
            accent-color: $secondary-color;
            margin: 0px;
          }
        }
      }
    }
  }
}

// .step_moving_btn {
//   @include displayFlex(center, center);
//   gap: 16px;
//   margin: 32px 0px 21px;
// }
// .next_previous_btn {
//   width: 90px;
//   height: 28px;
//   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);
//   border-radius: 2px;
//   border: none;
//   background-color: $button-background-color;
//   color: $third-color;
//   font-family: quicksand;
//   font-weight: 600;
//   font-size: $small-font + px;
// }
